<script id="foto-produto" type="text/x-handlebars-template">
		
		<div class="col-md-4  text-center js-foto-produto">
								<div class="d-flex justify-content-center">
								<div class="foto-produto">
									<a href="#" class="thumbnail"> <img src="{{url}}"></img>
									</a>
								<button type="button" class="btn  btn-link  js-remove-foto" data-nome-foto="{{nome}}" data-foto-ordem="{{ordem}}">
								<span class="glyphicon  glyphicon-remove">X</span>
		   					</button>
							</div>
						</div>
					</div>
		
</script>